button,submit {    
    position:relative;
    padding: 2%;
    overflow:hidden;
    color:#5585ff;
    border:2px solid #5585ff;
    background-color:transparent;
    cursor:pointer;
    border-radius:1.5rem;
    font-size:1.125rem;
    outline:none;
}
button:hover,submit {
box-shadow: inset 0 0 0 3px #3a7999;
}